.badge {
    padding: 6px 11px;
    color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.badge-danger {
    background-color: rgb(245, 55, 55);
}

.badge-success {
    background-color: rgb(43, 184, 43);
}

.badge-primary {
    background-color: rgb(43, 136, 243);
}

.badge-warning {
    background-color: rgb(233, 169, 50);
}
